/*

Curso de CSS con SoyDaltto en YouTube

Qué es CSS?

Hoja de estilos en cascada:
CSS, en español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.

Es decir, con este se puede dar modelado a los elementos de HTML.

*/

*{
  padding: 0;
  background-color: orange;
}

h1{
  color: aqua;
}

p{
  color: bisque;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18;
}