h1,h2,h3,h4,h5,h6{
	color: red;
}

/*h1{
	font-size:20px;
}
h2{
	font-size:30px;
}
h3{
	font-size:40px;
}*/

p a{
	font-size: 30px;
}

.yellow{
	color: green;
} 

a[href="www.google.com"]{
	color: green;
	font-size: 30px;
}